<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="engine" class="org.example.PetrolEngine"></bean>



    <bean id="carobject" class="org.example.Car" scope="prototype" autowire="byName">
    <!--  <property name="engine" ref="pet"/>
       <constructor-arg name="engine" ref="Diesel"/> -->
    </bean>

</beans>