<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="engine" class="org.example.PetrolEngine"
          autowire-candidate="true"></bean>

    <bean id="diesel" class="org.example.DieselEngine"
          autowire-candidate="false"></bean>



   <!-- <bean id="carobject" class="org.example.Car" scope="prototype" autowire="byName"> -->
            <!--  <property name="engine" ref="pet"/>
            <constructor-arg name="engine" ref="Diesel"/> -->
   <!-- <bean id="carobject" class="org.example.Car" scope="prototype"
          autowire="byType">-->

    <bean id="carobject" class="org.example.Car" scope="prototype"
          autowire="no">

    </bean>

</beans>